<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
<h1> Employee Information</h1>
	Employee Id: <span th:text="${employee.id}"></span><br />
	First Name: <span th:text="${employee.firstName}"></span><br />
	Last Name: <span th:text="${employee.lastName}"></span><br />
	Department: <span th:text="${employee.department}"></span><br />
	Salary: <span th:text="${employee.salary}"></span><br />
</body>
</html>